.wrap{
    width: 1250px;
    margin: 0 auto;
}
header{
    display: flex;  /*가로정렬 */
}
.logo{
    width: 250px;
    height: 100px;
    background-color: #EEEEE9;
}
.nav{
    width: 1000px;
    height: 100px;
    background-color: #D6CCC2;
}

.main_top{
    width:100%;
    height: 440px;
    background: #F5ECE1;
}

.main_bot{
    display: flex;
}

.left{
    width: 624px;
    height: 440px;
    background: #E4D6CA;
}
.right{
    width: 625px;
    height: 440px;
    background: #D5BEB1;

}


footer{
    width: 100%;
    height: 100px;
    background-color: #D6CCC2;
}