.wrap{
    width: 1250px;
    margin: 0 auto;
}
header{
    display: flex;  /*가로정렬 */
}
.logo{
    width: 250px;
    height: 100px;
    background-color: #54D8DC;
}

.nav{
    width: 1000px;
    height: 100px;
    background-color: #86DADC;
}

.main{
    display: flex;
}

.left{
    width: 415px;
    height: 880px;
    background-image: url('Rectangle (2).png');
}

.mid{
    width: 416px;
    height: 880px;
    background-image: url('Rectangle (2-1).png');
}
}
.right{
    width: 416px;
    height: 880px;
    background-image: url('Rectangle (2-2).png');
}


footer{
    display: flex;
}
.f_left{
    width: 250px;
    height: 100px;
    background-color: #FDE1E0;
}

.f_top{
    width: 1000px;
    height: 50px;
    background-color: #FECECE;
}

.f_bot{
    width: 1000px;
    height: 50px;
    background-color: #FDB2B5;
}